* {
  margin :0px;
  padding : 0px;
  font-family: Verdana, sans-serif;
}


.login-box{
 /* height: 500px;
  width: 300px;*/
  height: 800px;
  width: 100vw;
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
  border: 4px;
  /*border-radius: 25px;
  position: relative;
/*  top: 100px;*/
/*  left: 60px;*/
}

h1{
  color: white;
  text-align: left;
  margin: 100px 0px 60px 100px;
}




form{
  height: 100%;
  width: 100%;
  color: white;
  text-align : center;
  display: block;
  backdrop-filter: brightness(25%);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 25px;
}

input{
  background-color: rgb(255,255,255,0.35);
  border: none;
  border-radius: 20px;
  line-height: 40px;
  height: 40px;
  margin-left: 100px;
  width: 200px;
  color: white;
/*  padding: 0px 35px 0px 35px;*/
  
}
label{
  display: block;
  color: white;
  text-transform: uppercase;
  text-align: left;
  font-size: 0.6rem;
  letter-spacing: 3.5px;
  margin: 25px 0px 20px 100px
  
}

button{
  margin: 25px 0px 0px 100px;
  text-transform: uppercase;
  border-radius: 20px;
  background-color: #4151FF;
  width: 200px;
  height: 40px;
  line-height: 25px;
  transition: all 0.8s ease-in-out;
}


button:hover{
  transform: scale(0.94);
}

button a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 0.3rem;
  color: white;
}

form p {
  font-size: 0.4rem;
  
}